In [1]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt
dataset=load_dataset('lukebarousse/data_jobs')
df=dataset['train'].to_pandas()

df['job_posted_date']=pd.to_datetime(df['job_posted_date'])

c:\Users\mesne\anaconda3\envs\python_project\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df.loc[:,'salary_rate':'salary_hour_avg']

       salary_rate  salary_year_avg  salary_hour_avg
0             None              NaN              NaN
1             None              NaN              NaN
2             None              NaN              NaN
3             None              NaN              NaN
4             None              NaN              NaN
...            ...              ...              ...
785736        None              NaN              NaN
785737        None              NaN              NaN
785738        None              NaN              NaN
785739        None              NaN              NaN
785740        None              NaN              NaN

[785741 rows x 3 columns]

In [4]:
median_salary_year=df['salary_year_avg'].median()

In [5]:
median_salary_hour=df['salary_hour_avg'].median()

In [11]:
df_filled=df
df_filled['salary_year_avg']=df_filled['salary_year_avg'].fillna(median_salary_year)
df_filled['salary_hour_avg']=df_filled['salary_hour_avg'].fillna(median_salary_hour)

In [27]:
df_filled[(df_filled['company_name']=='Boehringer Ingelheim') & (df_filled['job_title']=='Senior Data Scientist')]

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
12921,Senior Data Scientist,Senior Data Scientist,"Ingelheim am Rhein, Germany",via Top County Careers,Full-time,False,Germany,2023-06-13 13:16:24,False,False,Germany,None,115000.0,45.98,Boehringer Ingelheim,"['r', 'python']","{'programming': ['r', 'python']}"
265018,Senior Data Scientist,Senior Data Scientist,"Ingelheim am Rhein, Germany",via Indeed,Full-time,False,Germany,2023-06-05 07:38:23,False,False,Germany,None,115000.0,45.98,Boehringer Ingelheim,"['r', 'python']","{'programming': ['r', 'python']}"
693756,Senior Data Scientist,Senior Data Scientist,"Ingelheim am Rhein, Germany",via FOX 5 San Diego Jobs,Full-time,False,Germany,2023-06-06 10:19:15,False,False,Germany,None,115000.0,45.98,Boehringer Ingelheim,"['r', 'python']","{'programming': ['r', 'python']}"

In [15]:
df_unique=df_filled
df_unique=df_unique.drop_duplicates()
print('Length of original',len(df_filled))
print('Lenght of Duplicates',len(df_unique))
print('Rows dropped:',len(df_filled)-len(df_unique))

Length of original 785741
Lenght of Duplicates 785640
Rows dropped: 101

In [25]:
df_unique=df_unique.drop_duplicates(subset=['job_title','company_name'])
print('Length of original',len(df_filled))
print('Lenght of Duplicates',len(df_unique))
print('Rows dropped:',len(df_filled)-len(df_unique))

Length of original 785741
Lenght of Duplicates 508042
Rows dropped: 277699

In [28]:
df_unique[(df_unique['company_name']=='Boehringer Ingelheim') & (df_unique['job_title']=='Senior Data Scientist')]

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
12921,Senior Data Scientist,Senior Data Scientist,"Ingelheim am Rhein, Germany",via Top County Careers,Full-time,False,Germany,2023-06-13 13:16:24,False,False,Germany,None,115000.0,45.98,Boehringer Ingelheim,"['r', 'python']","{'programming': ['r', 'python']}"