In [1]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt
dataset=load_dataset('lukebarousse/data_jobs')
df=dataset['train'].to_pandas()

df['job_posted_date']=pd.to_datetime(df['job_posted_date'])

c:\Users\mesne\anaconda3\envs\python_project\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [9]:
df_salary=df[pd.notna(df['salary_year_avg'])].copy()
def projected_salary(salary):
    return salary*1.03       #3 percent inflation
df_salary['salary_year_inflated'] =df_salary['salary_year_avg'].apply(projected_salary)
df_salary[['salary_year_avg','salary_year_inflated']]

        salary_year_avg  salary_year_inflated
28             109500.0             112785.00
77             140000.0             144200.00
92             120000.0             123600.00
100            228222.0             235068.66
109             89000.0              91670.00
...                 ...                   ...
785624         139216.0             143392.48
785641         150000.0             154500.00
785648         221875.0             228531.25
785682         157500.0             162225.00
785692         157500.0             162225.00

[22003 rows x 2 columns]

In [14]:
df['job_skills'][2]

"['python', 'sql', 'c#', 'azure', 'airflow', 'dax', 'docker', 'kubernetes', 'jenkins']"

In [ ]:
type(df['job_skills'][2]) #it is stored as a string instead of a list

str

In [13]:
import ast
type(ast.literal_eval(df['job_skills'][2]))

list

In [23]:
def clean_list(skill_list):
    if pd.notna(skill_list):               #it needs a string arg however our stuff also has none hence why 
        return ast.literal_eval(skill_list)
df['job_skills']=df['job_skills'].apply(clean_list)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [17]:
type(df['job_skills'][2])

list

In [ ]:
#df['job_skills']=df['job_skills'].apply(lambda skill_list: ast.literal_eval(skill_list) if pd.notna(skill_list) else skill_list)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [27]:
type(df['job_skills'][4983])

list

In [28]:
def projected_salary(row):
    if  "Senior" in row['job_title_short']:
        return 1.05*row['salary_year_avg']
    else:
        return 1.03*row['salary_year_avg']

df_salary['salary_year_inflated']=df_salary.apply(projected_salary,axis=1)

df_salary[['job_title_short','salary_year_avg','salary_year_inflated']]

       job_title_short  salary_year_avg  salary_year_inflated
28      Data Scientist         109500.0             112785.00
77       Data Engineer         140000.0             144200.00
92       Data Engineer         120000.0             123600.00
100     Data Scientist         228222.0             235068.66
109       Data Analyst          89000.0              91670.00
...                ...              ...                   ...
785624   Data Engineer         139216.0             143392.48
785641   Data Engineer         150000.0             154500.00
785648  Data Scientist         221875.0             228531.25
785682  Data Scientist         157500.0             162225.00
785692  Data Scientist         157500.0             162225.00

[22003 rows x 3 columns]